body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

details {
  margin-top: 1em;
}

script.visible {
  border: 1px solid #009688;
  display: block;
  font-family: monospace;
  margin-top: 1em;
  padding: 0.2em;
  overflow-x: auto;
  white-space: pre;
}

#minutes {
  background-color: yellow;
}